@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
 @media screen and (max-width: 480px) {

 	html,
 	body {
 		min-width: 320px;
 	}

 }
 
 
 html {
 	height: 100%;
 }

 body {
 
	background-size: cover;
 	font-family: sans-serif;
 	height: 100%;
 	background-color: #ffffff;
 	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../img/bg.jpg");
 	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../img/bg.jpg");
 	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../../img/bg.jpg");
 	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
 	background-repeat: repeat, no-repeat, no-repeat;
 	background-size: 100px 100px, cover, cover;
 	background-position: top left, center center, bottom center;
     background-attachment: fixed, fixed, fixed;
     margin: 15px;
     margin-top: 50px;

 }

 

.login-form,
.login-form * {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}

.login-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.login-form__logo {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.login-form__content {
    padding: 30px;
    background: #eeeeee;
}

.login-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #59120E;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form__input:focus {
    border-color: #59120E;
}

.login-form__input::placeholder {
    color: #aaaaaa;
}

.login-form__button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #59120E;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form__button:active {
    background: #2b0806;
}

.login-form__links {
    margin-top: 15px;
    text-align: center;
}

.login-form__link {
    font-size: 0.9em;
    color: #59120E;
    text-decoration: none;
}
